#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-container {
  width: 100%;
  background-color: lightgrey;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.map-container > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}

.map-container > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
