#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-container {
  width: 100%;
  background-color: lightgrey;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.map-container > div {
  flex: 1;
}
